.activity {

  &__container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__content {
    margin-right: auto;
  }

  &__status {
    margin-left: 25px;
    font-weight: 700;
  }

  &__info {
    margin-left: 25px;
    font-size: 28px;
    font-weight: 800;
    line-height: 1.4em;
  }

  &__arrow i {
    font-size: 38px;
  }
}