.btn {
  background: #DE1274;
  border-radius: 12px;
  color: white;
  width: 211px;
  text-align: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 16px;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}