.card {
  --card-h-padding: 20px;
  background: #FFFFFF;
  box-shadow: $shadow;
  border-radius: 10px;
  padding: 14px var(--card-h-padding);
  @include respond(small) {
    padding: 14px 23px;
  }

  &--locked {
    opacity: 0.3;
  }
  
}