@font-face {
  font-family: 'TeleNeo Office';
  font-style: normal;
  font-weight: 400;
  src: local('TeleNeo Office'), url('../fonts/tele-neo-office/Tele Neo Office.woff') format('woff');
}
@font-face {
  font-family: 'TeleNeo Office';
  font-style: normal;
  font-weight: 250;
  src: local('TeleNeo Office'), url('../fonts/tele-neo-office/Tele Neo Office Thin.woff') format('woff');
}
@font-face {
  font-family: 'TeleNeo Office';
  font-style: normal;
  font-weight: 700;
  src: local('TeleNeo Office'), url('../fonts/tele-neo-office/Tele Neo Office Bold.woff') format('woff');
}
@font-face {
  font-family: 'TeleNeo Office';
  font-style: normal;
  font-weight: 800;
  src: local('TeleNeo Office'), url('../fonts/tele-neo-office/Tele Neo Office Extrabold.woff') format('woff');
}