@import "normalize";
@import "reset";

@import "vars";
@import "functions";
@import "media";
@import "fonts";
@import "utils";
@import "icons";

@import "button";
@import "badge";
@import "card";
@import "popup";
@import "columns";

@import "nav";
@import "header";
@import "activity";
@import "bonuses";
@import "my-badges";
@import "faq";
@import "footer";

@import "onboard";
@import "header-odznaki";
@import "badges-categories";
@import "my-progress";
@import "zasady";

body {
  font-family: "TeleNeo Office";
  background: #F5F5F5;
}

.wrap {
  padding-bottom: 60px;
  overflow: hidden;

}

h1, h2, h3, h4, h5, h6 { font-weight: 700;}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  @include respond(medium) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }
}

.activity {
  grid-area: 1 / 1 / 2 / 2; 
  @include respond(medium) {
    grid-area: 1 / 3 / 2 / 6;
  }
}

.bonuses {
  grid-area: 2 / 1 / 3 / 2;
  @include respond(medium) {
    grid-area: 3 / 1 / 4 / 6;
  }
}

